##### 1.使用pandas读取数据集github_bot_processed_data.csv。探索pandas的显示选项，以便查看更多数据行和列。

In [31]:
import seaborn as sns
import pandas as pd
import ydata_profiling as pp
import matplotlib.pyplot as plt

#pandas显示设置
pd.set_option('display.min_rows',20)
#数据读入
data = pd.read_csv(r"./data/github_bot_processed_data.csv")
data

,label,type,site_admin,company,blog,location,hireable,bio,public_repos,public_gists,followers,following,created_at,updated_at,text_bot_count
0,Human,True,False,False,False,False,False,NaN,26,1,5,1,2011-09-26 17:27:03+00:00,2023-10-13 11:21:10+00:00,0
1,Human,True,False,False,True,False,True,"I just press the buttons randomly, and the pro...",30,3,9,6,2015-06-29 10:12:46+00:00,2023-10-07 06:26:14+00:00,0
2,Human,True,False,True,True,True,True,"Time is unimportant,\nonly life important.",103,49,1212,221,2008-08-29 16:20:03+00:00,2023-10-02 02:11:21+00:00,0
3,Bot,True,False,False,False,True,False,NaN,49,0,84,2,2014-05-20 18:43:09+00:00,2023-10-12 12:54:59+00:00,0
4,Human,True,False,False,False,False,True,NaN,11,1,6,2,2012-08-16 14:19:13+00:00,2023-10-06 11:58:41+00:00,0
5,Human,True,False,True,True,True,False,Done studying. Need challenges.,56,1,22,7,2017-04-11 14:08:07+00:00,2023-10-11 05:59:26+00:00,0
6,Human,True,False,True,True,True,True,Administrator of MOONGIFT that is introducing ...,277,1139,63,16,2008-04-07 22:22:22+00:00,2023-09-27 09:04:56+00:00,0
7,Human,True,False,True,False,True,False,"Senior Software Engineer at Google, working on...",37,1,22,0,2012-01-19 21:57:07+00:00,2023-08-07 16:06:34+00:00,0
8,Human,True,False,False,False,False,False,NaN,27,2,37,596,2019-12-24 20:04:33+00:00,2023-10-12 11:55:01+00:00,0
9,Human,True,False,True,True,True,False,Hi,42,9,14,2,2013-07-23 23:29:34+00:00,2023-10-09 20:47:05+00:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19758,Human,True,False,True,False,True,False,NaN,30,0,10,11,2016-09-10 09:45:00+00:00,2023-10-06 11:30:51+00:00,0
19759,Human,True,False,False,False,True,True,NaN,37,19,91,6,2012-04-19 03:27:14+00:00,2023-10-07 18:13:52+00:00,0
19760,Bot,True,False,False,False,False,False,I am the bot account of @alvaroaleman,1,0,0,0,2018-12-15 19:55:31+00:00,2021-07-27 14:14:25+00:00,2
19761,Human,True,False,False,False,False,False,NaN,3,0,1,0,2013-11-10 16:05:37+00:00,2023-08-31 14:26:08+00:00,2
19762,Human,True,False,False,False,False,False,NaN,0,0,0,0,2020-10-01 18:30:32+00:00,2020-12-29 19:45:12+00:00,0
19763,Bot,True,False,True,True,True,False,Tony came to Linux in 1994 and has never looke...,36,16,11,4,2014-07-02 23:27:34+00:00,2023-08-15 16:38:34+00:00,0
19764,Human,True,False,False,False,False,False,NaN,16,0,3,0,2017-12-06 21:56:31+00:00,2023-07-26 18:32:25+00:00,0
19765,Human,True,False,True,False,True,False,Software engineer at RealTracs.,13,0,10,1,2015-11-14 14:44:05+00:00,2022-08-23 21:09:49+00:00,0
19766,Human,True,False,True,False,False,False,NaN,7,0,2,0,2021-11-23 18:55:29+00:00,2023-10-06 22:50:45+00:00,0
19767,Bot,True,False,False,False,True,False,NaN,10,0,1,0,2016-04-22 22:11:59+00:00,2022-07-07 19:48:21+00:00,0

- 这里通过pd.set_option函数可以调整显示，显示更多的行和列

##### 2.使用head()方法查看数据的前几行，并使用info()方法查看每列的数据类型，观察两者的区别。 使用describe()方法生成数据的描述性统计信息。

In [32]:
pd.set_option('display.min_rows',10)
data.head()

,label,type,site_admin,company,blog,location,hireable,bio,public_repos,public_gists,followers,following,created_at,updated_at,text_bot_count
0,Human,True,False,False,False,False,False,NaN,26,1,5,1,2011-09-26 17:27:03+00:00,2023-10-13 11:21:10+00:00,0
1,Human,True,False,False,True,False,True,"I just press the buttons randomly, and the pro...",30,3,9,6,2015-06-29 10:12:46+00:00,2023-10-07 06:26:14+00:00,0
2,Human,True,False,True,True,True,True,"Time is unimportant,\nonly life important.",103,49,1212,221,2008-08-29 16:20:03+00:00,2023-10-02 02:11:21+00:00,0
3,Bot,True,False,False,False,True,False,NaN,49,0,84,2,2014-05-20 18:43:09+00:00,2023-10-12 12:54:59+00:00,0
4,Human,True,False,False,False,False,True,NaN,11,1,6,2,2012-08-16 14:19:13+00:00,2023-10-06 11:58:41+00:00,0

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19768 entries, 0 to 19767
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   label           19768 non-null  object
 1   type            19768 non-null  bool
 2   site_admin      19768 non-null  bool
 3   company         19768 non-null  bool
 4   blog            19768 non-null  bool
 5   location        19768 non-null  bool
 6   hireable        19768 non-null  bool
 7   bio             8839 non-null   object
 8   public_repos    19768 non-null  int64
 9   public_gists    19768 non-null  int64
 10  followers       19768 non-null  int64
 11  following       19768 non-null  int64
 12  created_at      19768 non-null  object
 13  updated_at      19768 non-null  object
 14  text_bot_count  19768 non-null  int64
dtypes: bool(6), int64(5), object(4)
memory usage: 1.5+ MB

- 上面调用了head()方法和info()方法，head方法显示了前五行的具体值，info方法显示了每个列的数据类型，数据量，以及空值数等。

In [34]:
data.describe()

       public_repos  public_gists     followers     following  text_bot_count
count  19768.000000  19768.000000  19768.000000  19768.000000    19768.000000
mean      84.139215     25.214083    245.497015     44.520741        0.061362
std      574.750217    635.690142   1535.939961    366.793439        0.341003
min        0.000000      0.000000      0.000000      0.000000        0.000000
25%       11.000000      0.000000      7.000000      0.000000        0.000000
50%       35.000000      2.000000     33.000000      4.000000        0.000000
75%       83.000000     10.000000    125.000000     22.000000        0.000000
max    50000.000000  55781.000000  95752.000000  27775.000000        5.000000

##### 3.对数据进行格式化处理，并展示不同格式（例如，日期、货币、百分比等）的效果

In [ ]:
ndata = pd.DataFrame(data.iloc[0:10]) #复制一份数据进行操作,复制了一份小数据进行操作
#将
ndata.style.format({"followers":"${}"})
#ndata